<header class="py-10 lg:px-40 flex flex-col justify-center items-center gap-10">
  <div>
    <img
      ngSrc="assets/images/zakat.png"
      alt="Zakat logo"
      width="200"
      height="100"
    />
  </div>
  <h1 class="text-5xl text-black text-center">
    نظام محاسبة وفوترة إلكترونية متطور <br />
    لأصحاب الأعمال والمحاسبين
  </h1>
  <h3 class="text-3xl text-center">
    أرسل فواتير وعروض أسعار وأوامر شراء بكل سهولة، وتحكم في المخزون وفي إدارة
    رواتب الموظفين مع إمكانية إنشاء أكثر من 30 تقريراً مالياً، لتحقق إدارة أفضل
    لأعمالك.
  </h3>
  <div class="w-full flex flex-col justify-center">
    <div class="flex justify-center">
      <button
        class="bg-indigo-700 text-white py-1 px-10 rounded-lg hover:ring-4 hover:ring-gray-300 hover:bg-indigo-900 flex justify-center items-center"
      >
        <span>ابدأ الآن مجاناً</span>
        <span class="material-symbols-outlined button-arrow">
          navigate_before
        </span>
      </button>
    </div>

    <p class="text-center text-sm">14 يوماً تجربة مجانية - بدون بطاقة ائتمان</p>
  </div>
  <div>
    <p class="text-center">4.8 متوسط تقييمات العملاء لجودة البرنامج</p>
    <div
      class="text-5xl flex gap-5 justify-center p-5 my-5 bg-white rounded-lg shadow-lg"
    >
      <img
        ngSrc="assets/images/rating.png"
        alt="Star"
        width="20"
        height="20"
        class="text-orange-500"
      />
      <img
        ngSrc="assets/images/star.png"
        alt="Star"
        width="20"
        height="20"
        class="text-orange-500"
      />
      <img
        ngSrc="assets/images/star.png"
        alt="Star"
        width="20"
        height="20"
        class="text-orange-500"
      />
      <img
        ngSrc="assets/images/star.png"
        alt="Star"
        width="20"
        height="20"
        class="text-orange-500"
      />
      <img
        ngSrc="assets/images/star.png"
        alt="Star"
        width="20"
        height="20"
        class="text-orange-500"
      />
    </div>
  </div>
</header>
